#navbar{
    display: flex;
    justify-content: space-between;
}

nav{
    background: rgb(0, 0, 0);
    color: white !important;
}

nav li a{
    color: white !important;
    margin: 10px;
    padding: 5px 10px !important;
}
/* Navbar.css example for toggler */
