/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
.button{
    border: 2.5px solid #40d522;
    border-radius: 5px;
    padding: 5px 15px;
    color:#40d522 !important;
    background: transparent !important;
}
.button:hover{
    box-shadow: inset 200px 0 0 0 #40d522;
    color: black !important;
    transition: 2s;
    font-weight: 600;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

